:root {
    --color-brown: #49111C;
    --color-brown-2: #A9927D;
    --color-background: #F2F4F3;
    --color-card: #1B4965;
    --color-nav: #2F6690;
    --color-input: #D9DCD6;
    --color-txt-input: #16425B;
    --color-btn-sale: #5FA8D3;
}

.btn-pay {
    margin-top: 20px;
    background-color: var(--color-btn-sale);
    color: white;
    font-size: 0.85rem;
    font-weight: bolder;
    width: 100%;
}

.btn-pay:hover {
    margin-top: 20px;
    background-color: var(--color-btn-sale);
    color: white;
    font-size: 0.85rem;
    font-weight: bolder;
    width: 100%;
}

.input-price {
    font-size: 0.8rem;
    line-height: 0.9rem;
}

.text-date {
    font-size: 0.7rem;
    color: white;
    font-weight: normal;
}

.back-card {
    background-color: var(--color-card);
    color: white;
    border: white;
}

.head-card {
    font-weight: bold;
    font-size: 0.8rem;
}

.price-card {
    font-size: 0.7rem;
    display: inline;
}

.category-card {
    font-size: 0.6rem;
    display: inline;
}

.background-1 {
    background-color: var(--color-background);
    padding: 20px 40px 20px 30px;
    margin: 0px !important;
}

.background-2 {
    background-color: var(--color-nav);
    padding: 20px 40px 20px 40px;
    margin: 0px !important;
    min-height: 100vh;
}

.bc-2 {
    background-color: var(--color-nav);
    padding: 20px 40px 20px 40px;
    margin: 0px !important;
    min-height: 100vh;
}

.btn-search {
    font-size: 0.8rem;
    color: white;
    border-radius: 5px !important;
    background-color: var(--color-brown);
}

.btn-search:hover {
    color: white;
    background-color: var(--color-brown);
}


.btn-search.show {
    font-size: 0.8rem;
    color: white;
    border-radius: 5px !important;
    background-color: var(--color-brown);
}

.pt-40 {
    padding-top: 20px;
}

.m-20 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.ms-20 {
    margin-right: 20px;
}

.f-right {
    float: right;
}

.input-search {
    background-color: var(--color-brown-2);
    color: white;
}

.input-search::placeholder {
    color: white;
}

.input-search:focus {
    background-color: var(--color-brown-2) !important;
    color: white;
    border-color: transparent;
    box-shadow: none;
}

hr {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.mt-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

th {
    color: white;
    font-size: 0.8rem;
}

td {
    color: white;
    font-size: 0.7rem;
}

.th-price {
    border-bottom: 1px solid white !important;
    padding: 0px;
}

.th-price+.th-price::before {
    content: '';
    border-right: 1px solid white;
    margin-right: 8px;
}

.tb-price {
    padding: 0px;
}

.tb-price+.tb-price::before {
    content: '';
    border-right: 1px solid white;
    margin-right: 8px;
}

ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none
}

ul.leaders li:before {
    float: left;
    color: white;
    width: 0;
    white-space: nowrap;
    content:
        "····················"
        "····················"
        "····················"
        "····················"
}

ul.leaders span:first-child {
    color: white;
    background-color: var(--color-nav);
    font-size: 0.85rem;
    font-weight: lighter;
}

ul.leaders span+span {
    float: right;
    color: white;
    font-size: 0.85rem;
    font-weight: lighter;
    background-color: var(--color-nav);
}

.btn-shop {
    background-color: white;
    border: 2px solid #25a18e;
    color: #25a18e;
    height: 5.8rem;
    width: 5.8rem;
    border-radius: 40%;
}

.btn-shop:hover {
    background-color: white;
    border: 2px solid #25a18e;
    color: #25a18e;
    height: 5.8rem;
    width: 5.8rem;
    border-radius: 40%;
}